<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>hallo</title>
    <script defer="defer" src="/js/chunk-vendors.8bdf2374.js"></script>
    <script defer="defer" src="/js/app.1e1fcab9.js"></script>
    <link href="/css/chunk-vendors.cabd923b.css" rel="stylesheet">
    <link href="/css/app.2f44bf1f.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but hallo doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div>inspect</div>
</body>
</html>